<div class="header-right">
  <h5><%=link_to "Log Out", destroy_user_session_path, :method => :delete %></h5>
</div>
<section id="profile-wrapper" class="clearfix">
  <div class="profile">
    <div class="form-image">
      <div class="profile-image">
        <%= image_tag(@user.avatar.current_path, size: "170") %>
      </div>
      <div class="change-image-form">
        <%= form_for profile_path(@user), :method => 'patch' do |f| %>
          <%= f.file_field :avatar %>
          <%= f.submit "Update Profile Image" %>
        <% end %>
      </div>
    </div>
    <div class="greeting">
      <h1> Hi <%=@user.first_name %>! </h1>
      <h3><%= link_to "Make a new event!", new_event_path %></h3>
    </div>
  </div>
  <div class="hosted">
    <h3>Your Hosted Events </h3>
    <% if @user.hosted_events.size == 0 %>
      <h4> You have no hosted events! </h4>
    <% else %>
      <ul> 
      <% @user.hosted_events.each do |event| %>
        <li><h3><%= link_to "#{event.name}", event_path(event) %></h3></li>
      <% end %>
      </ul>
    <% end %>
  </div>
  <div class="invited">
    <h3>Your Invites </h3>
    <% if @user.pending_events.size > 0 %>
      <h4> Pending </h4>
        <ul> 
        <% @user.pending_events.each do |event| %>
          <li class="event-<%= event.id %>"><h4><%= link_to "#{event.name}", event_path(event) %> - <%= link_to "RSVP", edit_event_invitation_path(event, event.event_invite(@user)), :class => "fancybox"%> - </h4><div class="rsvp-status"><h4>Your RSVP: <%= event.event_invite(@user).status %></h4></div></li>
        <% end %>
      </ul>
    <% end %>
    <% if @user.upcoming_events.size > 0 %>
      <h4> Upcoming </h4>
      <ul> 
        <% @user.upcoming_events.each do |event| %>
          <li class="event-<%= event.id %>"><h4><%= link_to "#{event.name}", event_path(event) %> - <%= link_to "Change RSVP", edit_event_invitation_path(event, event.event_invite(@user)), :class => "fancybox"%> - </h4><div class="rsvp-status"><h4>Your RSVP: <%= event.event_invite(@user).status %></h4></div></li>
        <% end %>
      </ul>
    <% end %>
    <% if @user.past_events.size > 0 %>
      <h4> Past </h4>
      <ul> 
        <% @user.past_events.each do |event| %>
          <li><h4><%= link_to "#{event.name}", event_path(event) %> - Your RSVP: <%= event.event_invite(@user).status %></h4></li>
        <% end %>
      </ul>
    <% end %>
  </div>
<section id=".made-footer" class="clearfix">
  <p>Made by Chelsea Guster and Brianne King</p>
</section>
</section>
<script type="text/javascript">
  $(document).ready(function() {
      $(".fancybox").fancybox();
  });
</script>