<% @recipes.each do |recipe| %>
<div class="recipe">
  <div>
    <h4><%= recipe[:name] %></h4>
    <ul>
      <li> Ingredients: <%= recipe[:ingredients] %></li>
      <li>Rating: <%= recipe[:rating] %>/5</li>
    </ul>
  </div>
  <div>
    <%= image_tag(recipe[:image], :size => "90") %><br>
    <%= link_to "More Info", "#{recipe_path(recipe[:id])}?event_id=#{recipe[:event_id]}", :class => "fancybox"%>
    <%= form_tag("/recipes/#{recipe[:id]}?event_id=#{recipe[:event_id]}", method: :get, remote: true) do %>
    <%= submit_tag "Add to Menu" %>
    <% end %>
  </div>
</div>
<% end %>

