<div>
  <div>
    <%= image_tag(@recipe_hsh[:large_image])%>
  </div>
  <div>
    <h2><%=@recipe_hsh[:name]%></h2>
    <h4>Number of Servings: <%=@recipe_hsh[:num_servings]%></h4>
    <h4>Total Time: <%=@recipe_hsh[:time]%></h4>
    <h4> Ingredients: </h4>
    <ul>
    <% @recipe_hsh[:ingredients].each do |ingredient| %>
      <li><%= ingredient %></li>
    <% end %>
    </ul>
  </div>
  <div>
    <%= link_to "See Full Recipe", @recipe_hsh[:source], :target => "_blank"%>
  
    <%= form_for [@event, Contribution.new], :remote => true do |f| %>
    <%= f.hidden_field :event_id, :value => @event.id %>
    <%= f.hidden_field :yummly_recipe_name, :value => @recipe_hsh[:name] %>
    <%= f.hidden_field :yummly_id, :value => @recipe_hsh[:id] %>
    <%= f.hidden_field :yummly_course, :value => @recipe_hsh[:course] %>
    <%= f.hidden_field :yummly_cuisine_type, :value => @recipe_hsh[:cuisine_type] %>
    <%= f.hidden_field :yummly_ingredients, :value => @recipe_hsh[:ingredients].join(", ") %>
    <%= f.hidden_field :yummly_large_image, :value => @recipe_hsh[:large_image] %>
    <%= f.hidden_field :yummly_num_servings, :value => @recipe_hsh[:num_servings] %>
    <%= f.hidden_field :yummly_time, :value => @recipe_hsh[:time] %>
    <%= f.hidden_field :yummly_source, :value => @recipe_hsh[:source] %>
    <%= f.submit "Add to Menu" %>
    <% end %>
  </div>
</div>