<div>
  <header>
    <h5> <%= link_to "Return to profile", profile_path(current_user.id) %> |
    <%=link_to "Log Out", destroy_user_session_path, :method => :delete %></h5>
  </header>
</div>

  <div class="new-event">
    <h2>Make Your New Event</h2>
      <%= form_for [@host, Event.new] do |f| %>
      <div class="row">
        <%= f.label :name %><br>
        <%= f.text_field :name, :placeholder => "What's the occasion?", :autofocus => true %>
      </div>
      <div class="row">
        <%= f.label :details %><br> 
        <%= f.text_field :details, :placeholder => "e.g. attire, theme, etc." %>
      </div>
      <div class="row">
        <%= f.label :tagline %><br>
        <%= f.text_field :tagline, :placeholder => "e.g., 'Party like it's 1999'" %>
      </div>
      <div class="row">
        <%= f.label :location %><br>
        <%= f.text_field :location, :placeholder => "Where the party at?" %>
      </div> 
      <div class="row">
        <%= f.label :date %><br>
        <%= f.date_field :date %>
      </div>
      <div class="row">
      <%= f.label :start_time %><br>
      <%= f.time_field :start_time %>
      </div>
      <div class="btn event-btn">
      <%= f.submit "PARTY TIME! EXCELLENT!" %>
      <% end %>
      </div>
  </div>


