<h1><%= @event.name %></h1>
<h2>by <%= @host.full_name %></h2>
<% if @event.tagline %> <h3>"<%= @event.tagline %>"</h3><%end%><br>

<h3>What? <%= @event.details %></h3><br>
<h3>When? <%= @event.date %>, at <%= @event.start_time %></h3><br>
<h3>Where? <%= @event.location %></h3><br>

<% if @event.invitations.size != 0 %>
  <h3>Guest List</h3>
  <ul>
    <% @event.invitations.each do |invite| %>
      <li><%= invite.guest.full_name %>: <%= invite.status %></li>
    <% end %>
  </ul>
<% else %>
  <%= link_to "Invite guests to #{@event.name}", new_event_invitation_path(@event) %>
<% end %>
<br> 
<% if @event.contributions.size != 0 %>
  <h3>Menu</h3>
  <ul>
    <% @event.contributions.each do |c| %>
      <%= c.yummly_recipe_name %>
      <%= c.yummly_cuisine_type %>
      <%= c.yummly_course %>
    <% end %>
  </ul>
<% else %>
<%= link_to "Create menu for #{@event.name}", new_event_contribution_path(@event) %>
<% end %>

<br><br><br>
<%= link_to "Return to profile", user_path(@host) %>