<div style="width: 700px; height: 400px; clear:both;">
  <div style="width: 100%; margin: 15px; display: block; text-align:center;">
    <%= image_tag(@contribution.yummly_large_image)%>
  </div>
  <div style="width: 100%; margin: 15px; display: block;">
    <h2><%= @contribution.yummly_recipe_name %></h2>
    <h4>Number of Servings: <%= @contribution.yummly_num_servings %></h4>
    <h4>Total Time: <%= @contribution.yummly_time %></h4>
    <h4> Ingredients: </h4>
    <h6> - <%= @contribution.yummly_ingredients %></h6>
  </div>
  <div style="width: 100%; margin: 15px; display: block; text-align:center;"> 
    <%= link_to "See Full Recipe", @contribution.yummly_source, :target => "_blank"%>
  </div>
  <div>
    <!-- if contribution is claimed already by someone other than current_user, show claimed but don't allow click -->
    <!-- if contribution is claimed already by current_user then show unclaim, allow click, close fancybox and update even show page to now have claim option -->
    <!-- if contribution is unclaimed then show claim option for user, allow click, close fancybox, update event show page to now have unclaim option -->
  </div>
</div>